<!DOCTYPE html>
<html xmlns: th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<meta charset="ISO-8859-1">
<title th:text="${titulo}">Titulo</title>
</head>
<style>

.menu{
	float: left;
	width:40%;
	margin-left: 5%;
	margin-right: 5%;
}
.resultados{
	margin-top: 30px;
	float: left; 
	width:50%;
}
table {
  border: black 1px solid;
}

tbody {
  border: black 1px solid;
}

tr {
  border: black 1px solid;
}

th {
  border: black 1px solid;
  padding-left:10px;
  padding-right:10px;
}

td {
  border: black 1px solid;
  padding-left:10px;
  padding-right:10px;
}
</style>
<body>
	<div style="width:100%; text-align:center;">
		<a href="http://localhost:8080/"><img style="width:3%; float: left; margin-left: 27%" src="https://res.cloudinary.com/http-loyverseapi-facturacionzoho-com-v1/image/upload/v1606700850/Personal/back_jazjcy.png"></a>
		<div style="width: 40%; float: left;" ><h1 th:text="${titulo}">Titulo</h1></div>
		<a href="http://localhost:8080/Maestro/index"><img style="width:3%; float: left; margin-right: 27%" src="https://res.cloudinary.com/http-loyverseapi-facturacionzoho-com-v1/image/upload/v1606700850/Personal/home_y2kc7e.png"></a>
	</div>
	
	<div class="menu">
		<br>
		<h2>Menu de opciones:</h2>
		<dd>
			<a th:href="@{/Maestro/listar}"><button type="button" class="btn btn-secondary">Listar todos</button></a>
		</dd>
		<dd>
			<a th:href="@{/Maestro/form_alta}"><button type="button" class="btn btn-success">Agregar maestro</button></a>
		</dd>
		<dd>
			<a th:href="@{/Maestro/form_eliminar}"><button type="button" class="btn btn-danger">Eliminar maestro</button></a>
		</dd>
		<dd>
			<a th:href="@{/Maestro/form_editar}"><button type="button" class="btn btn-primary">Editar maestro</button></a>
		</dd>
		<dd>
			<a th:href="@{/Maestro/menu_buscar}"><button type="button" class="btn btn-light">Buscar maestro</button></a>
		</dd>
	</div>
	<div class="resultados">
	<table>
		<thead>
			<tr>
				<th>ID</th>
				<th>Nombre</th>
				<th>Edad</th>
				<th>Salario</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="maestro: ${listaMaestro}">
				<td th:text="${maestro.id}">id</td>
				<td th:text="${maestro.nombre}">nombre</td>
				<td th:text="${maestro.edad}">edad</td>
				<td th:text="${maestro.salario}">salario</td>
			</tr>
		</tbody>
	</table>
	</div>
</body>
</html>