<!DOCTYPE html>
<html xmlns: th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<meta charset="ISO-8859-1">
<title th:text="${titulo}">Titulo</title>
</head>
<style>

.menu{
	float: left;
	width:40%;
	margin-left: 5%;
	margin-right: 5%;
}
</style>
<body>
	<div style="width:100%; text-align:center;">
		<a href="http://localhost:8080/Trabajador/index"><img style="width:3%; float: left; margin-left: 27%" src="https://res.cloudinary.com/http-loyverseapi-facturacionzoho-com-v1/image/upload/v1606700850/Personal/back_jazjcy.png"></a>
		<div style="width: 40%; float: left;" ><h1 th:text="${titulo}">Titulo</h1></div>
		<a href="http://localhost:8080/Trabajador/index"><img style="width:3%; float: left; margin-right: 27%" src="https://res.cloudinary.com/http-loyverseapi-facturacionzoho-com-v1/image/upload/v1606700850/Personal/home_y2kc7e.png"></a>
	</div>
	
	<div class="menu">
		<br>
		<h2>Menu de opciones para buscar:</h2>
		<dd>
			<a th:href="@{/Trabajador/buscar_ID}"><button type="button" class="btn btn-primary">Buscar por ID</button></a>
		</dd>
		<dd>
			<a th:href="@{/Trabajador/buscar_Nombre}"><button type="button" class="btn btn-primary">Buscar por Nombre</button></a>
		</dd>
		<dd>
			<a th:href="@{/Trabajador/buscar_Salario}"><button type="button" class="btn btn-primary">Buscar por Salario</button></a>
		</dd>
	</div>
</body>
</html>